<div class='card'>
    <div class='card-header'>
     <h4 style="margin-left: 70px;">{{pageTitle}}</h4>
    </div>
    
    <div class='card-body'>            
      <div class='table-responsive'>
        <table class='table' style="margin-left: 70px;">
          <thead>
            <tr>
            <!--   <th>RegId</th> -->
              <th>Name</th>
              <th>Email</th>
              <th>Gender</th>
              <th>Number</th>
              <th>Qualification</th>
              <th>Specialisation</th>
              <th>Add Batch</th>
              <th>Status</th>
            </tr>
           
          </thead>

          <tbody>  
            <tr *ngFor='let studentDetails of studentDetails'>
          <!--   <td>{{ studentDetails.id }}</td>--> 
              <td>{{ studentDetails.name }}</td>
              <td>{{ studentDetails.email }}</td>
              <td>{{ studentDetails.gender }}</td>
              <td>{{ studentDetails.number }}</td>
              <td>{{ studentDetails.qualification }}</td>
              <td>{{ studentDetails.specialisation }}</td>
              <td><div>
                <select name="Batches" (change)="changeBatch($event)">  
                    <option value="0">---Batches---</option>  
                    <option *ngFor="let batchdetails of batchdetails"  
                            [value]=batchdetails.batchname>  
                        {{batchdetails.batchname}}  
                    </option>  
                </select>  
                </div></td>
                <!--   <td><img *ngIf='showImage'
                [src] = 'product.imageUrl' 
                [title] = 'product.productName'
                [style.width.px] = 'imageWidth' 
                [style.margin.px] = 'imageMargin'></td>-->
              <td>
                <button class="btn btn-warning" style="cursor:pointer"   (click)="approvestudent(studentDetails._id)"> Approve</button>
                <button class="btn btn-danger" style="cursor:pointer"style="margin-left: 20px;" (click)="deletestudnt(studentDetails)"> Delete</button>
              </td>
            </tr>     
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
