<main class="form-signin w-100 m-auto text-center" style="align-items:center;" >
    <form style="width: 50%;margin-left: 350px;">
      <h1 class="h3 mb-3 fw-normal link-danger" style="margin-top: 200px;">Forgot password!</h1>
      <h4 class="h3 mb-3 fw-normal">Enter your email for password recovery.</h4>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>

      <button class=" btn btn-lg btn-primary" type="submit" style="margin-top: 20px;margin-bottom: 100px;">Submit</button>
      
    </form>
  </main>
