<section class="vh-90" style="margin-top:95px;margin-bottom:95px">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
       
          <form #loginform="ngForm" (ngSubmit)="addUser()">
          <!-- name input -->
          <div class="form-outline mb-4">
            <input type="Name" id="form3Example3" required [(ngModel)]="userSingnup.name" name="fullname" #fname="ngModel" class="form-control form-control-lg"
              placeholder="Enter your full name" />
              <span *ngIf="fname.touched && fname.invalid" style="color:red">Enter Fullname</span>
            <label class="form-label" for="form3Example3"></label>
          </div>

          <!-- email input -->
          <div class="form-outline mb-3">
            <input type="e-mail" email required name="email" [(ngModel)]="userSingnup.email" #email="ngModel" class="form-control form-control-lg"
              placeholder="Enter valid e-mail" />
              <span *ngIf="email.touched && email.invalid" style="color:red">Enter valid Email</span>
            <label class="form-label" for="form3Example4"></label>
          </div>

          <div class="form-outline mb-3">
            <input type="text"  [(ngModel)]="userSingnup.number" name="pnum" #pnum="ngModel"  required pattern="[6-9]{1}[0-9]{9}"  class="form-control form-control-lg"
              placeholder="Contactnumber" />
              <span *ngIf="pnum.touched && pnum.invalid" style="color:red">enter valid phonenumber</span>
          </div>

          <div class="form-outline mb-3">
            <input type="password" id="form3Example5" [(ngModel)]="userSingnup.password" required minlength="6" name="pwd" #pwd="ngModel" class="form-control form-control-lg"
              placeholder="Enter password" />
              <span *ngIf="pwd.touched && pwd.invalid" style="color:red">Enter password</span>
            <label class="form-label" for="form3Example4"></label>
          </div>

          <div class="form-outline mb-3">
            <input type="password" pattern="{{userSingnup.password}}" ngModel #cwd="ngModel" name="cwd" required class="form-control form-control-lg"
              placeholder="confirm password" />
              <span *ngIf="cwd.touched && cwd.invalid " style="color:red"> Re-enter password correctly</span>
            </div>
        

         


          <div class="form-outline mb-3">
            <input type="Qualification" required [(ngModel)]="userSingnup.qualification" name="qualification" #qual="ngModel" class="form-control form-control-lg"
              placeholder="Qualification" />
              <span *ngIf="qual.touched && qual.invalid" style="color:red">Enter Qualification</span>
            <label class="form-label" for="form3Example4"></label>
          </div>

          <div class="form-outline mb-3">
            <input type="Specialisation" name="specialisation" required [(ngModel)]="userSingnup.specialisation" #spl="ngModel" class="form-control form-control-lg"
              placeholder="Specialisation" />
              <span *ngIf="spl.touched && spl.invalid" style="color:red">Enter Specialisation</span>
            <label class="form-label" for="form3Example4"></label>
          </div>

          

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" [disabled]="loginform.invalid" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Submit</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Want to sign? <a href="login"
                class="link-danger" style="text-decoration: none;">Login</a></p>
          </div>

          

        </form>
      </div>
    </div>
  </div>
</section>
