<section class="vh-90" style="margin-top:95px;margin-bottom:95px">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form #loginform="ngForm" (ngSubmit)="loginUser(loginform.value)">
  
  
            
            <div class="form-outline mb-4">
              <input type="text"  name="fname"  ngModel #fname="ngModel" required class="form-control form-control-lg"
                placeholder="Enter Fullname" />
                <span *ngIf="fname.touched && fname.invalid" style="color:red">enter  Fullname</span>
              <!-- <label class="form-label" for="form3Example3">Enter Fullname</label> -->
            </div>
  
            
            <div class="form-outline mb-3">
              <input type="email"  name="email" email ngModel #email="ngModel" required class="form-control form-control-lg"
                placeholder="Enter Email valid  Address" />
                <span *ngIf="email.touched && email.invalid" style="color:red">enter valid email</span>
              
            </div>

           



            <div class="form-outline mb-3">
                <input type="number"  ngModel required name="pnum" #pnum="ngModel"   class="form-control form-control-lg"
                  placeholder="Contactnumber" />
                  <span *ngIf="pnum.touched && pnum.invalid" style="color:red">enter valid phonenumber</span>
              </div>

              <!-- <div class="form-outline mb-3">
                <input type="text" id="form3Example4" class="form-control form-control-lg"
                  placeholder="Qualification" />
              </div> -->

              <div class="form-outline mb-3">
                <label class="form-label" for="form3Example3">Upload Resume</label>
                <input type="file"   class="form-control form-control-lg"/>
                </div>


              <div class="form-outline mb-3">
                <input type="password"  ngModel name="password" #password="ngModel" required minlength="6" class="form-control form-control-lg"
                  placeholder="enter password" />
                  <span *ngIf="password.touched && password.invalid" style="color:red">enter  password</span>
              </div>

              <div class="form-outline mb-3">
                <input type="password"  class="form-control form-control-lg"
                  placeholder="confirm password" />
                
              </div>
            
           
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <!-- <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div> -->
              <!-- <a href="#!" class="text-body" style="text-decoration: none;">Forgot password?</a> -->
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" [disabled]="loginform.invalid" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">submit</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Want to sign? <a href="login"
                  class="link-danger" style="text-decoration: none;">Login</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
  </section>
