<section class="vh-90" style="margin-top:95px;margin-bottom:95px">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form #loginform="ngForm" (ngSubmit)="login()">

            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Email address</label>
              <input type="e-mail" email required name="email" email [(ngModel)]="user.email" ngModel #email="ngModel" class="form-control form-control-lg"
              placeholder="Enter valid e-mail" />
              <span *ngIf="email.touched && email.invalid" style="color:red">Enter valid Email</span><br>

            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
              <label class="form-label" for="form3Example4">Password</label>
              <input type="password"  ngModel name="password" password [(ngModel)]="user.password" #password="ngModel" required minlength="6" class="form-control form-control-lg"
              placeholder="enter password" />
              <span *ngIf="password.touched && password.invalid" style="color:red">enter  password</span>

            </div>

<!--<div class="form-outline mb-2">



              <label class="form-label" for="form3Example4">Role</label>
  <li class="nav-item dropdown btn btn-secondary my-2" style="margin-left: 5px;">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Select Your Role
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">


<li><a class="dropdown-item" routerLink="trainer-home">Faculty</a></li>
      <li><a class="dropdown-item" routerLink="students">Student</a></li>
     </ul>

</div>-->

<div class="btn-group col-xl-4 "  aria-label="Basic radio toggle button group">

  <br>
  <!--<input type="radio"   style="margin:left=100px" class="btn-check" value="faculty"  name="role" #role="ngModel"  [(ngModel)]="user.role" id="btnradio1" autocomplete="off" >
  <label class="btn btn-outline-dark" for="btnradio1">Faculty</label>

  <input type="radio" class="btn-check" value="student" name="role" #role="ngModel"  [(ngModel)]="user.role" id="btnradio2" autocomplete="off">

  <label class="btn btn-outline-dark" for="btnradio2">Student</label>-->

</div>


            <div class="d-flex justify-content-between align-items-center">

              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a routerLink="/forgotpassword" class="link-danger" style="text-decoration: none;color: red;" >Forgot password?</a>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" [disabled]="loginform.invalid" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" >Login</button>

              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                  class="link-danger" style="text-decoration: none;">Signup</a></p>
            </div>

          </form>
        </div>
      </div>
    </div>
  </section>
