<div class="rich container-fluid h-custom">

  <div class="col-md-6 col-lg-5 col-xl-5">
    <form #assignform="ngForm" (ngSubmit)="editAssign()">
      <div class="form-outline mb-4" ><h3 style="color:deepskyblue;">Assignment</h3></div>
      <div class="form-outline mb-3">
        <input type="text"  name="fname"  [(ngModel)]="assign.title" #fname="ngModel" required class="form-control form-control-lg"
               placeholder="Fullname" disabled />


      </div>
      <div class="form-outline mb-3">
        <input type="date" name="date"  [(ngModel)]="assign.date" #date="ngModel" required class="form-control form-control-lg"
               placeholder="" disabled>

      </div>
      <div class="form-outline mb-3" >
        <input type="text"  name="description"  [(ngModel)]="assign.description" #fname="ngModel" required class="form-control form-control-lg"
               placeholder="description" disabled />
<!--        <quill-editor name="description"  [(ngModel)]="assign.description" #description="ngModel" class="form-control form-control-lg"
                      placeholder="description"  ></quill-editor>-->
      </div>

      <div class="form-outline mb-3">
        <quill-editor name="submission text"  [(ngModel)]="assign.submissionText" #description="ngModel" class="form-control form-control-lg"
                      placeholder="submission text"  ></quill-editor>
      </div>


      <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Submit</button>
    </form>
  </div>


</div>
